# outputs (data, generated)
outputs/

# python
__pycache__/
*.pyc

# macOS
.DS_Store

# venv
.venv/

# env / secrets
.env
.env.*

# jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# local configs (jeśli masz)
*.local.yaml