# outputs (data, generated)
outputs/

# python
__pycache__/
*.pyc

# macOS
.DS_Store

# venv
.venv/
# Jupyter
.ipynb_checkpoints/

# jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

**/.ipynb_checkpoints/

# virtualenvs
.venv/
.venv-clip/
